@font-face {
    font-family: 'Formular';
    src: url(/fonts/fonts/formular/Formular-Bold.otf) format("opentype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Formular';
    src: url(/assets/dar/Formular-Medium-0bf28c114c631a0369b2c2ba5979b305cf80e8aefbeeb4e89407956bde89be09.otf) format("opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Formular';
    src: url(/assets/dar/Formular-Regular-3976c3bc3cb6dbbfc35bf643f075e96b0e92613efcbb0869f94c7180d69adb22.woff2) format("woff2"),url(/assets/dar/Formular-Regular-98b590d7a141b15e2e13a4798abcd6141550c1db437cf84debac26fefa05092b.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Formular';
    src: url(/assets/dar/Formular-Light-6746980a1b59b2676b9a5233e46278b986760a4b1c983104ea5c094d27670d79.otf) format("opentype");
    font-weight: 300;
    font-style: normal
}

html,button,input,select,textarea,.pure-g [class*="pure-u"],.paymentContent .content {
    font-family: Formular, sans-serif
}

body {
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%
}

body .paymentHeading {
    margin: 57px 0 54px;
    background-color: inherit
}

body .paymentHeading .logo {
   
    height: 0px;
    max-width: 98px;
    transform: scale(1.2);
    transform-origin: center
}

body .paymentContent {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: 0;
    margin-bottom: 50px;
    max-width: 690px
}

body .paymentContent .paymentPanels {
    padding-top: 40px
}

body .paymentContent .payment {
    box-shadow: none;
    border-radius: 0;
    border: 0
}

body .paymentContent .paymentInfo .qrcode {
    width: 100%;
    padding-right: 0
}

body .paymentContent .paymentInfo .qrcode .qrcode-placeholder {
    max-width: 200px;
    padding: 5px 0
}

body .paymentContent .paymentInfo .qrcode .qrcode-placeholder img,body .paymentContent .paymentInfo .qrcode .qrcode-placeholder canvas {
    max-width: 200px
}

body .paymentContent .paymentInfo .qrcode p.hint {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #090909;
    opacity: 0.5;
    font-weight: 300;
    margin-top: 2px
}

body .paymentContent .paymentHeader {
    font-weight: 300
}

body .paymentContent .paymentHeader .table {
    display: block
}

body .paymentContent .paymentHeader .table .tableCell {
    width: 100%;
    display: flex;
    justify-content: center
}

body .paymentContent .paymentHeader .table .tableCell:last-child {
    display: block
}

body .paymentContent .paymentHeader .paymentSubHeading {
    display: none
}

body .paymentContent .paymentHeader .paymentGatewayTitle {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #090909;
    margin-top: 20px;
    display: block
}

body .paymentContent .tile {
    background-color: inherit;
    padding-top: 18px;
    margin-top: 2px
}

body .paymentContent .tile .frame {
    padding: 20px 0
}

body .paymentContent .tile .frame:first-child {
    border-top: 1px solid rgba(0,0,0,0.1)
}

body .paymentContent .tile .frame:nth-last-child(2) {
    border-bottom: 0;
    padding: 0
}

body .paymentContent .tile .frame p {
    font-size: 20px;
    line-height: 30px;
    color: rgba(9,9,9,0.5)
}

body .paymentContent .paymentInfo.new p.pleaseDeposit em,body .paymentContent .paymentInfo.partiallyPaid p.pleaseDeposit em,body .paymentContent .paymentInfo.paid p.pleaseDeposit em {
    font-size: 20px;
    line-height: 25px;
    color: #090909;
    opacity: 0.5;
    margin-bottom: 10px
}

body .paymentContent .paymentInfo.new p.pleaseDeposit #copyToClipboard,body .paymentContent .paymentInfo.partiallyPaid p.pleaseDeposit #copyToClipboard,body .paymentContent .paymentInfo.paid p.pleaseDeposit #copyToClipboard {
    display: inline-block;
    background-image: url(/assets/copy_btn-0242dcacbf26e5dce4f3366df128fd70123e5a30b3d890f614fe4f48d0f58220.svg);
    width: 19px;
    height: 22px;
    cursor: pointer;
    position: relative;
    top: 4px;
    left: 10px
}

body .paymentContent .paymentInfo.new span.instruction,body .paymentContent .paymentInfo.partiallyPaid span.instruction,body .paymentContent .paymentInfo.paid span.instruction {
    font-size: 20px;
    line-height: 25px;
    color: #090909;
    opacity: 0.5
}

body .paymentContent .paymentInfo.new span.amount,body .paymentContent .paymentInfo.partiallyPaid span.amount,body .paymentContent .paymentInfo.paid span.amount {
    font-size: 30px;
    line-height: 25px;
    color: #090909;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 44px
}

body .paymentContent .paymentInfo.new span.amount b,body .paymentContent .paymentInfo.partiallyPaid span.amount b,body .paymentContent .paymentInfo.paid span.amount b {
    font-weight: 300
}

body .paymentContent .paymentInfo.new span.depositAddressString,body .paymentContent .paymentInfo.partiallyPaid span.depositAddressString,body .paymentContent .paymentInfo.paid span.depositAddressString {
    font-size: 20px;
    line-height: 25px;
    color: #090909;
    font-weight: 300;
    display: inline-block
}

body .paymentContent .paymentInfo.new span.instruction,body .paymentContent .paymentInfo.partiallyPaid span.instruction,body .paymentContent .paymentInfo.paid span.instruction {
    margin-bottom: 5px
}

body .paymentContent .paymentInfo.new span.amountWithCurrency,body .paymentContent .paymentInfo.partiallyPaid span.amountWithCurrency,body .paymentContent .paymentInfo.paid span.amountWithCurrency {
    font-size: 20px;
    line-height: 25px;
    color: rgba(9,9,9,0.4);
    opacity: 1;
    padding-top: 6px;
    margin-bottom: 44px;
    margin-left: 5px;
    display: inline
}

body .paymentContent .paymentInfo.new .timeLeft,body .paymentContent .paymentInfo.partiallyPaid .timeLeft,body .paymentContent .paymentInfo.paid .timeLeft {
    padding-top: 20px
}

body .paymentContent .paymentInfo.new .timeLeft .value,body .paymentContent .paymentInfo.partiallyPaid .timeLeft .value,body .paymentContent .paymentInfo.paid .timeLeft .value {
    color: #090909;
    font-weight: 300
}

body .paymentContent .paymentInfo.new .creationDate,body .paymentContent .paymentInfo.partiallyPaid .creationDate,body .paymentContent .paymentInfo.paid .creationDate {
    display: block;
    margin-bottom: 35px;
    float: right
}

body .paymentContent .paymentInfo.new .creationDate p,body .paymentContent .paymentInfo.partiallyPaid .creationDate p,body .paymentContent .paymentInfo.paid .creationDate p {
    text-align: right
}

body .paymentContent .paymentInfo.new .creationDate .value,body .paymentContent .paymentInfo.partiallyPaid .creationDate .value,body .paymentContent .paymentInfo.paid .creationDate .value {
    color: #090909;
    font-weight: 300;
    display: block;
    padding-top: 5px
}

body .paymentContent .paymentActions {
    background-color: inherit;
    padding-bottom: 40px
}

body .paymentContent .paymentActions.cancel {
    text-align: center !important
}

body .paymentContent .paymentActions.cancel a {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #C70000
}

body .paymentContent .paymentActions.extra-action {
    position: absolute
}

body .paymentContent .paymentActions.extra-action a {
    color: #6E1FFF;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px
}

body .paymentContent .gearCredits {
    position: absolute;
    background-color: transparent;
    margin-bottom: 50px;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    padding: 46px 0
}

body .paymentContent .gearCredits .container {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: rgba(9,9,9,0.3);
    opacity: 1
}

body .paymentContent .gearCredits a,body .paymentContent .gearCredits a:visited,body .paymentContent .gearCredits a:active {
    color: #090909;
    font-weight: 300;
    text-decoration: none;
    color: rgba(9,9,9,0.5)
}

body .paymentContent .paymentGatewayDetails {
    display: block;
    text-align: center;
    padding-top: 14px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    opacity: 0.7
}

body .paymentContent .paymentGatewaySubTitle {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    line-height: 35px;
    word-wrap: break-word
}

body .paymentContent .paymentGatewaySubTitle a {
    color: #6E1FFF;
    text-decoration: none
}

@media screen and (max-width: 48em) {
    body {
        background:none
    }

    body .paymentHeading {
        margin: 37px 0 42px 0;
        padding: 0
    }

    body .paymentHeading .logo {
        transform: scale(0.8);
        display: block;
        margin: 0 auto
    }

    body .paymentHeading.desktopOnly {
        display: block
    }

    body .paymentContent {
        box-shadow: none
    }

    body .paymentContent .paymentPanels {
        padding-top: 0
    }

    body .paymentContent .paymentInfo .qrcode .qrcode-placeholder {
        max-width: 143px;
        padding: 0 0 3px 0
    }

    body .paymentContent .paymentInfo .qrcode .qrcode-placeholder img,body .paymentContent .paymentInfo .qrcode .qrcode-placeholder canvas {
        max-width: 143px
    }

    body .paymentContent .paymentInfo .qrcode p.hint {
        font-size: 17px;
        line-height: 22px;
        margin-top: 6px
    }

    body .paymentContent .paymentHeader {
        padding: 0 20px
    }

    body .paymentContent .paymentHeader .paymentGatewayTitle {
        font-size: 20px;
        line-height: 25px;
        margin-top: 12px
    }

    body .paymentContent .paymentGatewayDetails {
        font-size: 17px;
        line-height: 22px;
        padding-top: 1px
    }

    body .paymentContent .paymentGatewaySubTitle {
        font-size: 17px;
        line-height: 22px;
        padding-top: 1px
    }

    body .paymentContent .tile {
        padding: 10px 20px 0
    }

    body .paymentContent .tile .frame {
        padding: 20px 0
    }

    body .paymentContent .tile .frame p {
        font-size: 17px;
        line-height: 25px
    }

    body .paymentContent .paymentInfo.new .creationDate,body .paymentContent .paymentInfo.partiallyPaid .creationDate,body .paymentContent .paymentInfo.paid .creationDate {
        margin-bottom: 20px;
        float: none
    }

    body .paymentContent .paymentInfo.new .creationDate p,body .paymentContent .paymentInfo.partiallyPaid .creationDate p,body .paymentContent .paymentInfo.paid .creationDate p {
        text-align: left;
        font-size: 14px;
        line-height: 25px
    }

    body .paymentContent .paymentInfo.new .creationDate .value,body .paymentContent .paymentInfo.partiallyPaid .creationDate .value,body .paymentContent .paymentInfo.paid .creationDate .value {
        display: inline;
        padding-left: 4px
    }

    body .paymentContent .paymentInfo.new p.pleaseDeposit em,body .paymentContent .paymentInfo.partiallyPaid p.pleaseDeposit em,body .paymentContent .paymentInfo.paid p.pleaseDeposit em {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 4px
    }

    body .paymentContent .paymentInfo.new p.pleaseDeposit #copyToClipboard,body .paymentContent .paymentInfo.partiallyPaid p.pleaseDeposit #copyToClipboard,body .paymentContent .paymentInfo.paid p.pleaseDeposit #copyToClipboard {
        top: -10px;
        left: 20px
    }

    body .paymentContent .paymentInfo.new span.amount,body .paymentContent .paymentInfo.partiallyPaid span.amount,body .paymentContent .paymentInfo.paid span.amount {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 23px
    }

    body .paymentContent .paymentInfo.new span.amountWithCurrency,body .paymentContent .paymentInfo.partiallyPaid span.amountWithCurrency,body .paymentContent .paymentInfo.paid span.amountWithCurrency {
        font-size: 17px;
        line-height: 22px;
        padding-top: 3px;
        margin-bottom: 23px
    }

    body .paymentContent .paymentInfo.new span.instruction,body .paymentContent .paymentInfo.partiallyPaid span.instruction,body .paymentContent .paymentInfo.paid span.instruction {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 0
    }

    body .paymentContent .paymentInfo.new span.depositAddressString,body .paymentContent .paymentInfo.partiallyPaid span.depositAddressString,body .paymentContent .paymentInfo.paid span.depositAddressString {
        font-size: 17px;
        line-height: 25px;
        word-break: break-all;
        width: calc(100% - 60px)
    }

    body .paymentContent .paymentInfo.new .timeLeft,body .paymentContent .paymentInfo.partiallyPaid .timeLeft,body .paymentContent .paymentInfo.paid .timeLeft {
        padding-top: 20px
    }

    body .paymentContent .paymentInfo.new .timeLeft br,body .paymentContent .paymentInfo.partiallyPaid .timeLeft br,body .paymentContent .paymentInfo.paid .timeLeft br {
        content: ' '
    }

    body .paymentContent .paymentInfo.new .timeLeft br:after,body .paymentContent .paymentInfo.partiallyPaid .timeLeft br:after,body .paymentContent .paymentInfo.paid .timeLeft br:after {
        content: ' '
    }

    body .paymentContent .paymentActions {
        padding-bottom: 0
    }

    body .paymentContent .paymentActions.cancel {
        margin-top: 12px;
        text-align: left !important
    }

    body .paymentContent .paymentActions.cancel a {
        font-size: 17px;
        line-height: 22px
    }

    body .paymentContent .paymentActions.extra-action {
        position: initial
    }

    body .paymentContent .paymentActions.extra-action a {
        font-size: 17px;
        line-height: 25px
    }

    body .paymentContent .gearCredits {
        padding: 23px 0 12px 0
    }

    body .paymentContent .gearCredits .container {
        font-size: 15px;
        line-height: 22px
    }
}

body .prefix {
    display: inline-block
}

body .currency {
    display: none
}

.payment-page div.payment div.container {
    display: none;
}

.footer {
    display: none;
}

.productInfo {
    display: none;
}




